/* SampleImport */
.icons-on .section-sampleimports .contenttype-folder{
    background: no-repeat transparent url(&dtml-portal_url;/++resource++bika.lims.images/folder.png);
}
table.sampleimport {
  border-top: 1px solid #dddddd;
}
table.sampleimport {
    width: 100%;
    border-collapse: collapse;
    border-left: &dtml-borderWidth; &dtml-borderStyle; &dtml-globalBorderColor;;
    border-bottom: &dtml-borderWidth; &dtml-borderStyle; &dtml-globalBorderColor;;
    margin: 1em 0em 1em 0em;
}
table.sampleimport th {
    background: &dtml-globalBackgroundColor;;
    border-top: &dtml-borderWidth; &dtml-borderStyle; &dtml-globalBorderColor;;
    border-right: &dtml-borderWidth; &dtml-borderStyle; &dtml-globalBorderColor;;
    font-weight: normal;
    padding: 0.1em 0.5em;
    text-align: left;
}
table.sampleimport th.center {
    text-align: center;
}
table.sampleimport .top {
    border-left: &dtml-borderWidth; &dtml-borderStyle; &dtml-backgroundColor;;
    border-top: &dtml-borderWidth; &dtml-borderStyle; &dtml-backgroundColor; ! important;
    border-right: &dtml-borderWidth; &dtml-borderStyle; &dtml-backgroundColor; ! important;
    text-align: right ! important;
    padding: 0em 0em 1em 0em;
}
table.sampleimport .listingCheckbox {
    text-align: center;
}
table.sampleimport td.left {
    text-align: left;
    padding-left: 0.5em;
}
table.sampleimport td.contact {
    text-align: left;
}
table.sampleimport td {
    border-right: &dtml-borderWidth; &dtml-borderStyle; &dtml-globalBorderColor;;
    border-top: &dtml-borderWidth; &dtml-borderStyle; &dtml-globalBorderColor;;
    border-bottom: &dtml-borderWidth; &dtml-borderStyle; &dtml-globalBorderColor;;
    padding: 0em 0em;
    vertical-align: top;
    text-align: center;
}
table.sampleimport .noborder {
    background: transparent;;
    border: none
}
table.sampleimport td.center {
    vertical-align: middle;
}
table.sampleimport a:hover {
    text-decoration: underline;
}
table.sampleimport img {
    vertical-align: middle;
}

table.sampleimport input {
    border: 1px solid &dtml-globalBackgroundColor;;
}

table.sampleimport .amount {
    text-align: right;
    padding-right: 1em;
}
table.sampleimport .calculated {
    text-align: right;
    padding-right: 1em;
    border: none ! important;
    background: &dtml-backgroundColor;;
}
.cb,
table.sampleimport * .cb {
    border: none;
    background-color: transparent;
}
table.sampleimport .dryhead {
    background-color: #a6b5db;
}
table.sampleimport .drybody {
    background-color: #dae0f0;
}
